body {
    background: #e8e8e8;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 12px;
}

.brick {
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    border-radius: 3px;
    color: #333;
    border: none;
}

.brick a:hover {
    text-decoration: none;
    cursor: pointer;
}

.brick a:visited {
    text-decoration: none;
}

.brick a:link {
    text-decoration: none;
}

.brick .img {
    width: 100%;
    max-width: 100%;
    display: block;
}

body {
    background: #232323;
}

.free-wall {
    margin: 15px;
}

.brick {
    width: 350px;
}

.brick .medium-and-time img {
    display: inline;
    padding-bottom: 0.5em;
}

.media-icons {
    height: 1.5em;
    width: 1.5em;
}

.medium-and-time {
    color: white;
    padding-left: 1em;
    padding-top: 0.2em;
    z-index: 5;
    height: 2em;
}

.medium-and-time-pos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.medium-and-time img {
    height: 100%;
}

.medium-and-time a {
    color: white;
}

.VISIR {
    background-color: rgba(51, 204, 51, 0.8);
}

.MBL {
    background-color: rgba(0, 102, 255, 0.8);
}

.RUV {
    background-color: rgba(255, 153, 51, 0.8);
}

.NUTIMINN {
    background-color: rgba(255, 77, 0, 0.8);
}

.DV {
    background-color: rgba(255, 0, 0, 0.8);
}

.info {
    padding: 15px;
    color: #333;
}

.brick img {
    margin: 0px;
    padding: 0px;
    display: block;
}

#header-img img {
    max-height: 8em;
    height: auto;
    margin: 2em;
}

.image-header-scroll {
    margin-bottom: 10em;
}

#header {
    color: red;
    transition: all .3s ease;
}
/*Filters*/

.header-container {
    transition: all 3s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, .90);
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
    -moz-box-shadow: 0px 0px 8px 2px #000000;
    box-shadow: 0px 0px 8px 2px #000000;
    margin-bottom: 5em;
    font-size: 1em;
}

.clicked p {
    background-color: #000;
}

.medium-filter {
    margin: 1em;
    line-height: 3em;
    border-radius: 10px;
    background-color: #232323;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid red;
}

.medium-filter:hover {
    cursor: pointer;
}

.headline1 {
    font-size: 2em;
}

.headline2 {
    font-size: 1em;
}

.tag-filter {
    border-radius: 10px;
    background-color: #232323;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid red;
}

.filter-tag:hover {
  cursor: pointer;
}
