body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 12px;
    background-image: url('/images/background.jpg');
}

.brick {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    border-radius: 3px;
    color: #333;
    border: none;
}

.brick a:hover {
    text-decoration: none;
    cursor: pointer;
}

.brick a:visited {
    text-decoration: none;
}

.brick a:link {
    text-decoration: none;
}

.brick .img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.free-wall {
    margin: 15px;
}

.brick {
    width: 350px;
}

.brick .medium-and-time img {
    display: inline;
    padding-bottom: 0.5em;
}

.media-icons {
    height: 1.5em;
    width: 1.5em;
}

.medium-and-time {
    color: white;
    padding-left: 1em;
    padding-top: 0.2em;
    z-index: 5;
    height: 2em;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
}

.medium-and-time-pos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.medium-and-time img {
    height: 100%;
}

.medium-and-time a {
    color: white;
}

.VISIR {
    background-color: rgba(51, 204, 51, 0.8);
}

.MBL {
    background-color: rgba(0, 102, 255, 0.8);
}

.RUV {
    background-color: rgba(255, 153, 51, 0.8);
}

.NUTIMINN {
    background-color: rgba(255, 77, 0, 0.8);
}

.DV {
    background-color: rgba(255, 0, 0, 0.8);
}


.VISIR-button p {
    border: 1px solid rgba(51, 204, 51, 0.8);
}

.MBL-button p {
    border: 1px solid rgba(0, 102, 255, 0.8);
}

.RUV-button p {
    border: 1px solid rgba(255, 153, 51, 0.8);
}

.NUTIMINN-button p {
    border: 1px solid rgba(255, 77, 0, 0.8);
}

.DV-button p {
    border: 1px solid rgba(255, 0, 0, 0.8);
}

.VISIR-button:hover p, .VISIR-button.clicked p {
    background-color: rgba(51, 204, 51, 0.8);
    transition: all .3s ease;
}

.MBL-button:hover p, .MBL-button.clicked p {
    background-color: rgba(0, 102, 255, 0.8);
    transition: all .3s ease;
}

.RUV-button:hover p, .RUV-button.clicked p {
    background-color: rgba(255, 153, 51, 0.8);
    transition: all .3s ease;
}

.NUTIMINN-button:hover p, .NUTIMINN-button.clicked p {
    background-color: rgba(255, 77, 0, 0.8);
    transition: all .3s ease;
}

.DV-button:hover p, .DV-button.clicked p{
    background-color: rgba(255, 0, 0, 0.8);
    transition: all .3s ease;
}

.info {
    padding: 15px;
    color: white;
}

.filter-tag.clicked p {
  background-color: rgba(255, 0, 0, 0.8);
  transition: all .3s ease;
}



.brick img {
    margin: 0px;
    padding: 0px;
    display: block;
}

#header-img img {
    max-height: 8em;
    height: auto;
    margin: 2em;
}

.image-header-scroll {
    margin-bottom: 10em;
}

#header {
    color: #fff;
    transition: all .3s ease;
}
/*Filters*/

.header-container {
    transition: all 3s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, .90);
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
    -moz-box-shadow: 0px 0px 8px 2px #000000;
    box-shadow: 0px 0px 8px 2px #000000;
    margin-bottom: 5em;
    font-size: .9em;
}

.medium-filter {
    margin-top: .75em;
    border-radius: 10px;
    background-color: #121212;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    font-size: 1.5em;
}

.filter-medium p:hover {
    cursor: pointer;
}

.headline1 {
    font-size: 1.7em;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
}

.headline2 {
    font-size: 1.1em;
}

.tag-filter {
    border-radius: 10px;
    background-color: #121212;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #eee;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    font-size: 1.5em;
}

.tag-filter:hover {
  background-color: rgba(255, 0, 0, 0.8);
  transition: all .3s ease;
}

.filter-save {
    border-radius: 10px;
    background-color: #121212;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #eee;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    font-size: 1.5em;
    cursor: pointer
}

.filter-save:hover {
  background-color: rgba(51, 204, 51, 0.8);
  transition: all .3s ease;
}

.filter-tag:hover {
    cursor: pointer;
}
